.header {
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif, cursive;
}

span a {
    margin-left: 250pt;
}

.info {
    font-size: 20pt;
    text-align: center;
}

.home-page {
    font-size: 20px;
}