<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
</head>
<body>
{% block content %}
{% endblock %}
<hr>
<span><a href="/home">Home</a></span>
<span><a href="/blogs">Blogs</a></span>
<span><a href="/info">Info</a></span>
<hr>

{% block new %}
{% endblock %}

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Directed by @Alvarand.</span>
    </div>
</footer>
</body>
</html>